h1 {
    background-color:cyan;
     color:white;
     font-size: 50px;
        } 
div { text-align: center; }
ul { display: inline-block; text-align: left;}
h2{
    background-color:purple;
   
    color: white;
    font-size: 40px
    ;
}

h3 {
    text-decoration: underline;
    text-decoration-color: red;
    padding-left: 50px;
    
}
p{
    background-color: green;
}


h3{
    font-weight: bold;
    font-size: 30px;
}